@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 67, 160, 71;
    --color-secondary: 255, 136, 0;
    --color-success: 155 192 75;
    --color-failure: 243 47 117;
  }

  body {
    @apply font-sans;
  }

  p {
    @apply font-sans;
    @apply font-light;
    @apply text-base;
  }
}

@layer components {
  .hero {
    @apply grid place-items-center w-full;
    @apply bg-cover bg-center;

    > * {
      @apply col-start-1 row-start-1;
    }

    .hero-content {
      @apply flex justify-center items-center;
      @apply z-0 max-w-7xl gap-4 py-20 px-2 sm:px-4;

      &.narrow {
        @apply max-w-5xl;
      }

      &.align-end {
        @apply justify-end items-end;
      }

      &.align-start {
        @apply justify-start items-start;
      }
    }
  }
}

@layer utilities {
  .before-content {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .overlay {
    @apply absolute top-0 left-0 w-full h-full flex-center bg-gray-800/80;
  }
}
