@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply font-sans;
  }

}


@layer components {
  :root {
    --color-primary: 67 160 71;
    --color-secondary: 255 136 0;
    --color-success: 155 192 75;
    --color-failure: 243 47 117;
  }

  /* DaisyUI components -- start */

  .hero {
    @apply grid place-items-center w-full;
    @apply bg-cover bg-center;

    > * {
      @apply col-start-1 row-start-1;
    }

    .hero-content {
      @apply flex justify-center items-center;
      @apply z-0 gap-4 py-20;

      &.flat {
        @apply py-10;
      }

      &.align-end {
        @apply justify-end items-end;
      }

      &.align-start {
        @apply justify-start items-start;
      }
    }
  }

  .drawer {
    @apply grid overflow-hidden w-full;

    height: 100vh;
    height: 100dvh;

    &.drawer-end {
      direction: rtl;
    }
    &.drawer-end > * {
      direction: ltr;
    }
    &.drawer-end > .drawer-toggle {
      & ~ .drawer-side > .drawer-overlay + * {
        @apply translate-x-full justify-self-end;
      }
      &:checked ~ .drawer-side > .drawer-overlay + * {
        @apply translate-x-0;
      }
    }
  }
  :where(.drawer-toggle ~ .drawer-content) {
    height: inherit;
  }
  .drawer-toggle {
    @apply absolute h-0 w-0 appearance-none opacity-0;
    & ~ .drawer-content {
      @apply z-0 col-start-1 row-start-1 overflow-y-auto;
    }
    & ~ .drawer-side {
      @apply col-start-1 row-start-1 grid max-h-screen overflow-x-hidden;
      & > .drawer-overlay {
        @apply invisible col-start-1 row-start-1 opacity-0;
      }
      & > .drawer-overlay + * {
        @apply z-10 col-start-1 row-start-1 -translate-x-full transform;
      }
    }
    &:checked {
      & ~ .drawer-side {
        @apply overflow-y-auto overflow-x-hidden isolate;
        & > .drawer-overlay {
          @apply visible;
        }
        & > .drawer-overlay + * {
          @apply translate-x-0;
        }
      }
    }
  }

  [dir="rtl"] .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
    @apply translate-x-full;
  }
  [dir="rtl"] .drawer-toggle:checked ~ .drawer-side > .drawer-overlay + * {
    @apply translate-x-0;
  }
  [dir="rtl"] .drawer.drawer-end > .drawer-toggle ~ .drawer-side > .drawer-overlay + * {
    --tw-translate-x: -100%;
  }
  [dir="rtl"] .drawer.drawer-end > .drawer-toggle:checked ~ .drawer-side > .drawer-overlay + * {
    --tw-translate-x: 0px;
  }
  [dir="rtl"] .drawer.drawer-end > .drawer-toggle:checked ~ .drawer-content {
    --tw-translate-x: 0.5rem;
  }

  @media (min-width: 1024px) {
    .drawer-mobile {
      grid-auto-columns: max-content auto;
      & > .drawer-toggle {
        & ~ .drawer-content {
          @apply h-auto lg:col-start-2;
        }
        & ~ .drawer-side {
          @apply overflow-y-auto;
          & > .drawer-overlay {
            @apply lg:visible;
          }
          & > .drawer-overlay + * {
            @apply lg:translate-x-0;
          }
        }
      }
    }
    .drawer-mobile.drawer-end {
      grid-auto-columns: auto max-content;
      direction: ltr;
      & > .drawer-toggle {
        & ~ .drawer-content {
          @apply h-auto lg:col-start-1;
        }
        & ~ .drawer-side {
          @apply overflow-y-auto lg:col-start-2;
          & > .drawer-overlay {
            @apply lg:visible;
          }
          & > .drawer-overlay + * {
            @apply lg:translate-x-0;
          }
        }
      }
    }
  }

  .drawer.drawer-end > .drawer-toggle:checked ~ .drawer-content {
    @apply -translate-x-2;
  }

  .drawer-toggle {
    & ~ .drawer-content {
      @apply transition-all duration-300 ease-in-out;
    }
    & ~ .drawer-side {
      & > .drawer-overlay {
        @apply cursor-pointer bg-neutral-500 transition-all duration-300 ease-in-out;
      }
      & > .drawer-overlay + * {
        @apply transition-all duration-300 ease-in-out;
      }
    }
    &:checked {
      & ~ .drawer-content {
        @apply translate-x-2;
      }
      & ~ .drawer-side {
        & > .drawer-overlay {
          opacity: 0.999999; /* 1 causes a bug on chrome 🤷‍♂️ */
          @apply bg-opacity-40;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .drawer-mobile {
      & > .drawer-toggle {
        &:checked {
          & ~ .drawer-content {
            @apply translate-x-0;
          }
        }
      }
    }
  }

  /* DaisyUI components -- end */

  .page-container {
    @apply mx-auto max-w-5xl px-2 sm:px-4;

    &.wide {
      @apply max-w-7xl;
    }
  }

  .bg-highlight {
    @apply bg-gradient-to-r from-primary to-secondary;
  }

  .bg-primary {
    @apply bg-gradient-to-r from-primary to-green-500;
  }

  .bg-secondary {
    @apply bg-gradient-to-r from-secondary to-yellow-500;
  }

  .header-text {
    @apply border-gray-600 lg:border-white dark:border-white;
    @apply text-gray-600 lg:text-white dark:text-white;
  }

  .card {
    @apply relative rounded-xl p-[3px] m-0;
    @apply bg-[var(--card-background-color)];

    .card {
      @apply rounded-lg p-4;
    }

    :not(&.active, &.non-interactive):active {
      @apply border-gray-200 dark:border-gray-800;
    }
  }

  .card-border {
    @apply border border-solid border-opacity-40;
    @apply border-gray-300 dark:border-gray-700;

    &.double-border {
      @apply absolute -top-1 -left-1;
      @apply w-full h-full;
    }

    :not(&.active, &.non-interactive):hover {
      @apply border-gray-400 dark:border-gray-600;
    }
  }

  .tag {
    @apply rounded-full px-2 py-1 text-xs h-6;
    @apply bg-opacity-70 bg-gray-300 dark:bg-gray-700;

    &.tag-sm {
      @apply text-sm h-7;
    }

    &.tag-lg {
      @apply text-lg h-9 px-3;
    }

    &.primary {
      @apply text-white bg-primary dark:bg-primary;
    }

    &.secondary {
      @apply text-white bg-secondary dark:bg-secondary;
    }

    &.success {
      @apply text-white bg-success dark:bg-success;
    }

    &.failure {
      @apply text-white bg-failure dark:bg-failure;
    }
  }

  .section-header-text {
    @apply text-[var(--color)] sm:text-white;
  }

  .divider {
    @apply w-full bg-gray-400 dark:bg-gray-600 h-[1px];
  }

  .tabs {
    @apply !mx-0;

    .tab-link {
      @apply border-0 border-x-0 border-t-0 border-solid;
      @apply px-8 text-xl font-semibold opacity-70 cursor-pointer;

      &:not(.active, .disabled):hover {
        @apply opacity-80;
      }

      &.active {
        @apply border-[var(--color)] border-b-4 rounded-b-none;
        @apply opacity-100 text-[var(--color)];
      }

      &.disabled {
        @apply text-gray-400;
      }
    }
  }
}

@layer utilities {
  .before-content {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex gap-1 items-center justify-between;
  }

  .inline-flex-center {
    @apply inline-flex gap-1 items-center justify-center;
  }

  .inline-flex-between {
    @apply inline-flex gap-1 items-center justify-between;
  }

  .inline-flex-around {
    @apply inline-flex gap-1 items-center justify-around;
  }

  .overlay {
    @apply absolute top-0 left-0 w-full h-full flex-center bg-gray-700/60;
  }
}
